<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <h2><%= title %></h2>
    <form action="/update/<%=itemId%>" method="post">
      <div class="form-group">
        <label for="name">Item Name:</label>
        <input id='itemName' type="text" class="form-control" id="email" placeholder="<%= item.itemName %>"
          name="itemName" required>
      </div>
      <div class="form-group">
        <label id='author' for="text">Author:</label>
        <input type="text" class="form-control" id="pwd" placeholder="<%= item.itemQuantity %>" name="itemQuantity"
          required>
      </div>
      <div class="form-group">
        <label for="text">Price:</label>
        <input id="price" type="text" class="form-control" id="email" placeholder="<%= item.itemPrice %>"
          name="itemPrice" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</body>

</html>